* {
  font-family: "PT Sans", sans-serif;
}

/* navbar  */
.bg-navbar {
  background-color: #423e37;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
}

/* slider  */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #f00;
  opacity: 1;
}
